*{
	margin: 0;
	padding: 0;
}
p{
	margin-bottom: 0px;
}

ul{
	display: inline;
}

.iconcenter{
	text-align: center;
}

.iconlabel{
	font-size:10px; 
}

.activity{
	margin-left: 90px;
}

.socialicon{
	list-style: none;
}
.socialicon ul li{
	list-style: none;
	display: inline-block;

}
a{
	color:#22b9ff;
	font-size:13px; 
	// text-decoration:none; 
	margin-left: 5px;
}

.activityline{
	border: 4px solid #f7f7fa;
	border-radius: 10px;
	// margin-top: 20px;
	padding: 20px;
	height: 500px;
	// overflow-y: scroll;
	// margin-left: 35px;
	background: #fff;

}
.activityline h2{
	margin-left: 12px;
}
.activityline ul li{
	list-style: none;
	display: inline-block;
    padding: 3px;
	text-align: justify;
}
.iconcenter{
	font-size: 15px;
}
.groupspace{
	margin-top: 10px;
}