*{
	margin: 0;
	padding: 0;
}
p{
	margin-bottom: 0px;
}

ul{
	display: inline;
}

.iconcenter{
	text-align: center;
}

.iconlabel{
	font-size:10px; 
}

.activity{
	margin-left: 90px;
}

.socialicon{
	list-style: none;
}
.socialicon ul li{
	list-style: none;
	display: inline-block;

}
a{
	color:#22b9ff;
	font-size:13px; 
	margin-left: 5px;
}

.activityline{
	border-radius: 10px;
	height: 750px;
	overflow-y: scroll;
	background: #fff;

}
.activityline h2{
	margin-left: 20px;
}
.activityline ul li{
	list-style: none;
	padding: 3px;
	text-align: justify;
}
.activityline ul li:nth-child(3n){
	margin-bottom: 30px;
}
.iconcenter{
	font-size: 15px;
}
.groupspace{
	margin-top: 10px;
}